  
/*
* ----------------------------------------------------------------------------------------
* 01. START GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
.dropdown-menu {
    min-width: 250px;
}
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{
    display:block;
}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left{
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

:root {
    --primary-color: rgb(0, 112, 192);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #000000;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
	color: #333333;
	font-weight: 600;
}
img{
	max-width: 100%;
	height: auto;
}
a:hover,
a:focus{
	outline: none;
	text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
p {
    font-weight: 400;
	font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}
.padding_0{
	padding: 0;
}
.gray_bg{
	background: #F7F8FA;
}
.dark_bg{
	background: #1d293e;
}
.bold{
    font-weight: 700;
}
.highlight-yellow{
    background-color: yellow;
}
.text-medium {
    font-size: 12px;
}
.text-sm{
    font-size: 10px;
}
.text-primary {
    color: var(--primary-color);
}

.d-3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
}

/*START PRELOADER DESIGN*/
.preloader {
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 9999999;
  background-color: transparent;
  -webkit-transition: .9s;
  transition: .9s;
}

.preloader .loader {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.preloader .loader .outter {
  position: absolute;
  border: 4px solid var(--primary-color);
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader .inner {
  position: absolute;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader img {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

/* .preloader .loader span sup {
    color: var(--primary-color);
} */

.preloader::before, .preloader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  background: #fff;
  -webkit-transition: .9s;
  transition: .9s;
}

.preloader::after {
  left: auto;
  right: 0;
}

.preloader.preloader-deactivate {
  visibility: hidden;
}

.preloader.preloader-deactivate::after, .preloader.preloader-deactivate::before {
  width: 0;
}

.preloader.preloader-deactivate .loader {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes outter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes outter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/* END PRELOADER DESIGN */

/* START SECTION-HEADING DESIGN */
.default-section{
	padding: 80px 0;
}
.section_heading{
	margin-bottom: 60px;
}
.section_heading h2{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 36px;
    color: #222;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    margin-top: 0px;
}
.dark_bg .section_heading h2{
	color: #fff;
}
.section_heading p{
    margin: 15px 0 5px;
}
.dark_bg .section_heading p{
	color: #fff;
}
.section_heading h2 span{
	color: var(--primary-color);
}
.section_heading_border:before {
    content: "";
    height: 2px;
    width: 50px;
    position: absolute;
    left: -55px;
    top: 50%;
    background-color: var(--primary-color);
    margin-top: 26px;
}
.section_heading_border:after {
    content: "";
    height: 2px;
    width: 50px;
    position: absolute;
    right: -55px;
    top: 50%;
    background-color: var(--primary-color);
    margin-top: 26px;
}
.section_heading_border {
    width: 20px;
    display: inline-block;
    margin-top: -50px;
    position: relative;
}
.section_heading_border span {
    height: 2px;
    width: 16px;
    background: var(--primary-color);
    display: inline-block;
}
.section_heading_border span:nth-child(1) {
    margin-bottom: -46px;
}
.section_heading_border span:nth-child(2) {
    margin-bottom: -23px;
}
.section_heading_border span:nth-child(3) {
    margin-top: 2px 0;
}
#about_us .about-description {
    margin-bottom: 2.5em;
}
/* #programs .section_heading p {
    text-transform: uppercase;
}  */
/* END SECTION-HEADING DESIGN */


/* START SCROLL TO-TOP */
.topcontrol {
    background: var(--primary-color) none repeat scroll 0 0;
    border-radius: 50px;
    bottom: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    margin-bottom: 70px;
    height: 40px;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 5px 12px;
    position: fixed;
    right: 5px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
	z-index: 999;
}
.topcontrol:hover {
    background: #286090;
    color: #fff;
}
/* END SCROLL TO-TOP */
/*
* ----------------------------------------------------------------------------------------
* 01. END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/



/*
* ----------------------------------------------------------------------------------------
* 02. START HEADER DESIGN
* ----------------------------------------------------------------------------------------
*/
.navbar-default {
    background-color: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(235,235,235, 0.5);
    border-bottom-color: rgba(235, 235, 235, 0.3);
    position: absolute;
    width: 100%;
    z-index: 999;
}
.navbar-default .logo .navbar-brand {
    padding: 5px 15px;
}
.navbar-default .logo .navbar-brand img, .main_header.sticky_menu .logo .navbar-brand img {
    display: none;
}
.navbar-default .logo .navbar-brand::before {
    content: url(../images/logo/Group2@1.5x.png);
}
.main_header.sticky_menu .logo .navbar-brand {
    content: url(../images/logo/Group2Copy2@2x.png);
}
.navbar-brand p{
    font-size: 32px;
    font-weight: 700;
	margin: 0px 10px 10px 0px;
    letter-spacing: 1px;
    color: #fff;
	font-family: 'Poppins', sans-serif;
}
.navbar-brand p sup{
    color: var(--primary-color);
}
.navbar-default.sticky_menu .navbar-brand p{
    color: #000;
}
.nav .open>a,  
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--primary-color) !important;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li.nav-item.dropdown.open > a,
.navbar-default .navbar-nav > li > button{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 0;
    outline: 0;
}

.navbar-default .navbar-nav > li > .btn{
    margin: 8px 5px;
    padding: 6px 10px;
    outline: none;
}

.navbar-default .navbar-nav > li > .btn.btn-primary:hover,
.navbar-default .navbar-nav > li > .btn.btn-primary:focus,
.navbar-default .navbar-nav > li > .btn.btn-primary:focus:hover {
    color: #fff;
    background-color: #0064ac;
    border-color: #0064ac;
}

.navbar-default .navbar-nav > li > .btn.btn-warning:hover,
.navbar-default .navbar-nav > li > .btn.btn-warning:focus,
.main_header.sticky_menu .navbar-nav> li.active > a.btn.btn-warning{
    color: #fff !important;
    background-color: #ec971f !important;
    border-color: #d58512 !important;
}
.main_header.sticky_menu .navbar-nav > li > .btn,
.main_header.sticky_menu .navbar-nav > li > .btn:hover,
.main_header.sticky_menu .navbar-nav > li > .btn:focus {
    color: #fff !important;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li.nav-item.dropdown.open > a{
        font-size: 11px;
        padding: 0;
    }

}

/* .navbar-default .navbar-nav > li:nth-child(n-1) > button {
    text-decoration-line: underline;
} */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > button:hover,
.navbar-default .navbar-nav > li > button:focus,
#nav li.current a {
	color: var(--primary-color);
	background-color: transparent;
}
.main_header.sticky_menu {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: 0;
    background: #fff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 0;
}
.main_header.dark_bg_menu.sticky_menu{
	background-color: #1d293e;
    color: #fff;
    padding: 10px 0;
	border: none;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.1);
    width: 100%;
    animation: fadeInDown 1s both 0.2s;
}
.main_header.sticky_menu .navbar-nav > li > a,
.main_header.sticky_menu .navbar-nav > li > button {
	color: #000 !important;
	transition: all 0.3s ease;
}
.main_header.dark_bg_menu.sticky_menu .navbar-nav > li > a,
.main_header.dark_bg_menu.sticky_menu .navbar-nav > li > button{
	color: #fff !important;
	transition: all 0.3s ease;
}
.main_header.sticky_menu .navbar-nav > li > a:hover,
.main_header.sticky_menu .navbar-nav > li > button:hover{ 
    color: var(--primary-color) !important 
}
.main_header.sticky_menu .navbar-nav>.active>a, 
.main_header.sticky_menu .navbar-nav>.active>a:hover,
.main_header.sticky_menu .navbar-nav>.active>a:focus,
.main_header.sticky_menu .navbar-nav>.active>button, 
.main_header.sticky_menu .navbar-nav>.active>button:hover,
.main_header.sticky_menu .navbar-nav>.active>button:focus{
    color: var(--primary-color) !important;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
    padding: 0;
	color: #fff;
    font-size: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.main_header.sticky_menu .navbar-toggle .icon-bar {
    background-color: var(--primary-color);
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
/*
* ----------------------------------------------------------------------------------------
* 02. END HEADER DESIGN
* ----------------------------------------------------------------------------------------
*/



/*
* ----------------------------------------------------------------------------------------
* 03. START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
}
.welcome-area,
.welcome-slider-section,
.welcome-slider-section div{
    height: 700px;
}
.welcome-slider-section div.inner-slide-blocks-tablecell,
.welcome-slider-section div.inner-slide-blocks-tablecell div {
    height: auto;
}
.inner-slide-blocks-table{
    display: table;
    width: 100%;
}
.inner-slide-blocks-tablecell {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 80px;
}
.inner-slide-blocks{
    position: relative;
    z-index: 1;
	padding-top: 3%;
}
.inner-slide-blocks:after{
	content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.carousel-fade .carousel-inner .item{
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{
    opacity: 1;
    filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right{
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right{
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.inner-slide-blocks h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}
.inner-slide-blocks h2{
	color: #fff;
    font-size: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 1.5em;
}
.inner-slide-btns{
    margin-top: 2em;
    display: table;
    position: relative;
    height: 100px !important;
}
.inner-slide-btns div {
    display: table-cell;
    position: relative;
}
.inner-slide-btns .block-one {
    padding-right: 80px;
}
.inner-slide-btns .block-two {
    padding-left: 80px;
}
.inner-slide-btns .seperator {
    overflow: hidden;
    height: 2px !important;
    top: 24px;
    right: -24px;
    position: absolute;
    transform: rotate(90deg);
}
.inner-slide-btns .seperator:after {
    content: '';
    display: block;
    border: 24px solid rgba(255, 255, 255, 0.6);
}

.inner-slide-btns div.block-one span {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    right: -20px;
    top: 32px;
    border-radius: 100%;
    background: #f0ad4e;
}
.inner-slide-btns div.block-one span i {
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    width: 100%;
    line-height: 40px;
    font-style: normal;
    color: #fff;
}
.inner-slide-btns p {
    color: #fff;
}
.inner-slide-blocks .caption{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 45px;
    width: 350px;
    text-align: justify;
}
.inner-slide-blocks span.begin{
	color: rgb(88 171 243);
}
/* color: #5cb85c; */
.inner-slide-blocks span.end{
    color: #f0ad4e;
}
.inner-slide-blocks .btn-slider{
	background: transparent;
	border: 1px solid #fff;
	margin-right: 20px;
	color: #fff;
	font-size: 14px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.2s ease 0s;
	display: inline-block;
	margin-bottom: 15px;
	border-radius: 30px;
}
.inner-slide-blocks .btn-slider:hover{
	color: #fff;
	background: var(--primary-color); 
	border-color: var(--primary-color);
	text-decoration: none;
}
.inner-slide-blocks .btn-no-bg{
	background: var(--primary-color);
	border-color: var(--primary-color);
}
.inner-slide-blocks .btn-no-bg:hover,
.inner-slide-blocks .btn-no-bg:focus{
    background: transparent;
    border-color: #FFF;
}
.carousel-control{
    z-index: 1;
    background-image: none !important;
    top: 46.6%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    border-radius: 50%;
    transition: .5s;
}
#welcome-slide-carousel .carousel-indicators li{
	width: 15px;
	height: 15px;
	margin: 0 5px;
}
#welcome-slide-carousel .carousel-indicators .active{
	background: #75ceae;
	border-color: #75ceae;
}
.carousel-control.left{
	margin-left: 25px;	
}
.carousel-control.right{
	margin-right: 25px;	
}
.carousel-control:hover{
	background: var(--primary-color);
	border-color: var(--primary-color);
}
.carousel-fade .carousel-inner .item{
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*
* ----------------------------------------------------------------------------------------
* 03. END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 04. START ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/
.single_about{
	margin-top: 40px;
}
.single_about .about_title span {
	text-transform: uppercase;
	letter-spacing: 1px;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 700;
}
.single_about .about_title h2 {
    font-size: 32px;
    color: #222;
    font-weight: 700;
    margin: 15px 0 20px;
}
.dark_bg .single_about .about_title h2 {
	color: #fff;
}
.single_about .about_title .description{
	margin: 0 0 30px;
}
.dark_bg .single_about .about_title .description{
	color: #fff;
}

/*
* ----------------------------------------------------------------------------------------
* 04. END ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 05. START SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/
.single-service{
    padding: 30px 30px;
	box-shadow: 0px 17px 60px #00000012;
	background: #fff;
	border-radius: 4px;
    margin-bottom: 30px;
    transition: all 0.4s ease;
    border-top: 4px solid var(--primary-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dark_bg .single-service{
	background: transparent;
	border: 1px solid #384967;
}
.single-service:hover{
	transform: translateY(-5px);
}
.single-service i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #efeded;
    border: 1px solid #efeded;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 20px;
    display: inline-block;
    color: var(--primary-color);
}
.dark_bg .single-service i{
	background: transparent;
	border: 1px solid var(--primary-color);
}
.single-service:hover i{
	-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	color: #fff;
}
.single-service span.program-card-header {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-left: 25px;
	transition: all 0.4s ease;
}
.dark_bg .single-service h4{
	color: #fff;
}
.single-service p{
	transition: all 0.4s ease;
	color: #333333;
    margin-top: 15px;
    line-height: normal;
}
.dark_bg .single-service p{
	color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* 05. END SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 06. START PROGRAMS DESIGN
* ----------------------------------------------------------------------------------------
*/
.program-card-wrapper {
    display: table;
    margin-bottom: 30px;
}
.single-service .program-discount {
    margin-bottom: 5px;
    text-decoration: line-through;
}
.single-service p.program-discount + h3 {
    margin-top: 0;
}

.courses-container {
    margin: 0 auto;
}

.courses-container .round {
    position: relative;
    display: block;
    margin: 0;
}

.courses-container .round label {
    margin-left: 28px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
}

.courses-container .round label::before {        
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.courses-container .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
    width: 11px;
}

.courses-container .round input[type="checkbox"] {
    width: 16px;
    height: 16px;
    order: 1;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    visibility: hidden;
}

.courses-container .round input[type="checkbox"]:checked + label:before {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.courses-container .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.chips-container {
    margin: 15px 0 20px;
}

.chip{
    display: inline-flex;
    flex-direction: row;
    background-color: #e5e5e5;
    border: none;
    cursor: default;
    height: 22px;
    outline: none;
    padding: 0;
    margin: 5px 2px 5px 0;
    font-size: 14px;
    color: #333333;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
}
.chip-head{
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #d9534f;
    font-size: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    width: 22px;
    color: #fff;
    height: 22px;
    font-size: 12px;
    margin-right: -4px;
}
.chip-content{
    cursor: inherit;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

/* .program-card-wrapper .card-right-block {

} */
/*
* ----------------------------------------------------------------------------------------
* 06. END PROGRAMS DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 07. START UPCOMING BATCH DESIGN
* ----------------------------------------------------------------------------------------
*/
.upcoming-batch-wrapper ul {
    height: 300px;
    overflow-y: auto;
}
.upcoming-batch-wrapper .description {
    margin: 20px auto;
}

.upcoming-batch-wrapper li + li {
    margin-top: 16px;
}

.upcoming-batch-wrapper .list-group-item {
    border: 0;
    border-radius: 4px;
}
.upcoming-batch-wrapper .apply-now {
    margin: 18px;
}
.batch-info {
    display: table;
    padding: 0px 12px;
}
.batch-info .column-02 h4 {
    display: inline-block;
}
.column-01 {
    width: 30%;
}
.column-02 {
    width: 45%;
}
.column-03 {
    width: 25%;
}
.column-04 {
    width: 10%;
    vertical-align: middle;
}
.column-01, .column-02, .column-03, .column-04 {
    display: table-cell; 
}
.batch-info p {
    margin-bottom: 5px;
}
/*
* ----------------------------------------------------------------------------------------
* 07. END UPCOMING BATCH DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 08. START COUNTERUP DESIGN
* ----------------------------------------------------------------------------------------
*/
/* rgba(0, 0, 0, 0.8)
rgba(127, 183, 223, 0.5) */
.count_overlay{
	background:  rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    padding: 60px 0;
}
.counter-content{
	margin-top: 30px;	
}
.counter-content i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 20px;
    display: inline-block;
    color: var(--primary-color);
}
.count h3{
	color: var(--primary-color);
	font-size: 30px;
}
.count span {
    font-size: 30px;
    font-weight: 600;  
}
.count h5{
	color: #fff;
	font-size: 16px;
}
/*
* ----------------------------------------------------------------------------------------
* 08. END COUNTERUP DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 09. START CAREER DESIGN
* ----------------------------------------------------------------------------------------
*/
.career-wrapper {
    width: 550px;
    margin: auto;
}

.career-wrapper .list-group-item {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 25px 10px 15px;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
.career-wrapper li + li {
    margin-top: 16px;
}
@keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }
    
    100% {
      opacity: 1;
    }
  }

/*
* ----------------------------------------------------------------------------------------
* 09. END CAREER DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 10. START PRICING TABLE DESIGN
* ----------------------------------------------------------------------------------------
*/
.pricingTable{
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
	transition: 0.4s;
}
.pricingTable:hover{
	transform: translateY(-10px);
}
.pricingTable > .pricingTable-header{
    color:#fff;
}
.pricingTable-header > .heading {
	border-radius: 20px;
    background: var(--primary-color);
    display: block;
    padding: 30px 0;
}
.heading > h3 {
    color: #fff;
    font-weight: 500;
    font-size: 27px;
    margin: 0;
    text-transform: uppercase;
}
.heading > .subtitle{
    font-size: 13px;
    margin-top: 3px;
    display: block;
}
.pricingTable-header > .price-value {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #555;
    display: block;
    margin: 0 auto;
    color: #555;
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    padding: 20px 10px 0 10px;
    line-height: 35px;
}
.dark_bg .pricingTable-header > .price-value{
	border: 2px solid #fff;
	color: #fff;
}
.pricingTable-header > .price_value{
	width: 120px;
    height: 120px;
    border-radius: 50%;
	background: var(--primary-color);
    border: 2px solid var(--primary-color);
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    padding: 20px 10px 0 10px;
    line-height: 35px;
} 
.price-value span{
    font-size: 40px;
}
.price_value span{
	font-size: 40px;
}
.price-value > .mo {
    display: inline-block;
    line-height: 0;
    padding-top: 13px;
    border-top: 1px solid #555;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: -20px;
}
.price_value .mo{
	display: inline-block;
    line-height: 0;
    padding-top: 13px;
    border-top: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: -20px;
}
.pricingTable > .pricingContent{
    margin: 20px 0 0 0;
}
.pricingContent > ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}
.pricingContent > ul > li {
    border-top: 1px solid #ddd;
    padding: 5px 0;
    letter-spacing: 0.5px;
    line-height: 25px;
    color: #555;
    text-align: center;
    transition: 0.4s ease-in-out;
}
.dark_bg .pricingContent > ul > li{
	color: #fff;
	border-top: 1px solid #fff;
}
.pricingContent > ul > li:before{
    content: "\f101";
    font-family: 'FontAwesome';
    color:var(--primary-color);
    margin-right: 10px;
}
.pricingContent > ul > li:hover{
    padding-left: 15px;
    transition:0.4s ease-in-out;
}
.pricingContent > ul > li:last-child{
    border-bottom: 1px solid #dbdbdb;
}
.pricingTable > .pricingTable-sign-up{
    padding: 25px 0;
}
.main_btn {
    display: inline-block;
    background: var(--primary-color);
    border: 0px none;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 12px 30px;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.4s ease;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}
.main_btn:hover{
    background: #333;
    color:#fff;
}
/*
* ----------------------------------------------------------------------------------------
* 10. END PRICING TABLE DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 11. START TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/
#testimonial {
    display: none;
}
.testi_overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    padding: 20px 0;
}
.testi_overlay .partners {
    margin: 33px 20px;
}
.testi_overlay .partners img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.testimonial{
    /* border: 1px solid #c9ced3;
    border-top: 3px solid #c9ced3; */
    padding: 20px 25px 20px;
    position: relative;
}
.testimonial .description:after{
    content: "\f10d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /* font-family: "Font Awesome 5 Free"; */
    font-weight: 900;
    font-size: 30px;
    color: var(--primary-color);
    position: absolute;
    top: 125px;
    left: 25px;
}
.testimonial .description{
    font-size: 14px;
    color: #bdbdbd;
    line-height:26px;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left: 36%;
    text-align: center;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 50%;
}
.testimonial .testimonial-title{
    font-size: 20px;
    color: #fff;
    position: relative;
    text-align: center;
}
.testimonial .testimonial-title small{
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 7px;
}
.owl-theme .owl-controls .owl-page.active span{
    background: var(--primary-color);
}
/*
* ----------------------------------------------------------------------------------------
* 11. END TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 12. START COPYRIGHT DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-wrapper * {
    color: #fff;
}
.footer-wrapper .logo-block p {
    margin-top: 10px;
    margin-left: 3em;
}
.footer-wrapper .logo-block p i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 12px;
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.footer-wrapper .email-block h4{
    font-weight: 500;
    margin: 1.5em 0;
}
.footer-wrapper .email-block a{
    margin-top: 8px;
}
.footer-wrapper .social-media-block p{
    margin: 35px 0;
}
.copyright_area{
    background: #20242a;
}
/* #172238 */
.copyright-area{
	background: #24324a;
}
.copyright_area p {
    color: #fff;
}
.copy_text{
    padding: 10px 0;
    border-top: 1px solid #544f4f;
}
.copy_text p{
	color: #fff;
	margin: 20px 0;
}
.copyright_area .social-media-block i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-align: center;
    transition: all 0.4s ease;
    font-size: 22px;
    display: inline-block;
    color: #fff;
    margin: 10px;
}
.copyright {
    border-top: 1px solid #5a5959;
}
.single_contact{
	padding: 10px 10px 10px 10px;
    border: 1px solid #f1c740;
    background-color: #f1c740;
    border-radius: 4px;
}
.dark_bg .single_contact{
	border: 1px solid #384967;
}
.single_contact ul li{
    list-style: none;
    line-height: 40px;
}
.dark_bg .single_contact ul li{
	color: #fff;
}
.single_contact h3{
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    color: var(--primary-color);
}
.dark_bg .single_contact h3{
	color: #fff;
}
.single_contact p{
	margin-bottom: 10px;
	letter-spacing: .2px;
	font-size: 14px;
	margin: 0;
	margin-bottom: 20px;
	line-height: 20x;
}
.single_contact ul{
	margin:0;
	padding:0;
}
.sing_contact_iteam i{
    margin: 0 5px;
    color: #fff;
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
}
/*
* ----------------------------------------------------------------------------------------
* 12. END COPYRIGHT DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 13. START DIALOG BOX DESIGN
* ----------------------------------------------------------------------------------------
*/
.checkbox-inline {
    margin-left: 10px;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scaleX(1.1) scaleY(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    font-family: sans-serif;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 60%;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.close-button:hover {
    color: var(--primary-color);
}
.show-modal {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scaleX(1.0) scaleY(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal.show-modal .container-fluid .col-md-4 {
    padding-right: 0;
}

@media only screen and (max-width: 50rem) {
    h1 {
        font-size: 1.5rem;
    }
    .modal-content {
        width: calc(100% - 5rem);
    }
}
  
/*
* ----------------------------------------------------------------------------------------
* 13. END DIALOG BOX DESIGN
* ----------------------------------------------------------------------------------------
*/